*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: pink;
    
}

html{
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    
}