.jeje{
    background-color: aquamarine;
    margin: 2rem 0rem 0rem 19.5rem;
    width: 25rem;
    height: 25rem;
}
.madre{
    margin: 2rem 2rem 2rem 2rem;
    height: 60rem;
    
}
span{
    color: red;
}
