.im1{
    height: 18rem;
    width: 18rem;

    margin-left: 10rem;
}
@media  only screen and (min-width: 1300px) {
    .im1{
        height: 22rem;
        width: 22rem;

        margin-left: 52rem;
    }

}